body {
   font-family: 'Press Start 2P';
}
body.mainpage{
  background-attachment: fixed;
  background-image: url(../images/mainpage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body.pvp{
  background-attachment: fixed;
  background-image: url(../images/pvp.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body.pvspc{
  background-attachment: fixed;
  background-image: url(../images/pvspc.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: yellow;
}
header{
  font-size: 30px;
  text-align: center;
}
section#columna1{
  display: inline-block;
}
a.button, input[type=button]{
  background-color: red;
  border: 10px solid rgb(204, 155, 051);
  color: white;
  display: inline-block;
  font-family: inherit;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}
section#columna2{
  display: inline-block;
}
article#p1{
  text-align: justify;
  display: grid;
}
article#p2{
  text-align: justify;
  display: grid;
}
article#play{
  padding-top: 50px;
  margin: 0 auto;
}
img{
  height: 75px;
  width: 75px;
}
label > input{
  visibility: hidden;
  position: absolute;
}
label > input + img{
  /* box-sizing: border-box; */
  cursor:pointer;
  border:10px solid #4878D8;
}
label > input:checked + img{
  border:10px solid red;
}
